.timeline-wrap {
  min-width: 24rem;
  padding: 3.2rem 2.4rem;
}

.timeline-btn {
  border: 0.2rem solid #037AA6;
  border-radius: 100%;
  background: inherit;
  cursor: pointer;
}

.item-header {
  margin:2.4rem 0;
  color: #037AA6;
}

.item {
  display: flex;
  align-items:center;
  transition: color .2s ease-in;
}
.item:hover {
  color: #037AA6;
}
.item:not(.item--first) {
  margin-top: 3.8rem;
}

.item__circle {
  box-sizing: border-box;
  width:2.4rem;
  height:2.4rem;
  position: relative;
  transition: all 0.2s ease-in;

}
.item--selected .item__circle {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' width='24' height='24' viewBox='2 2 24 24'%3E%3Cpath d='M19.71,9.33l-9.38,9.38a1,1,0,0,1-1.41,0L4,13.83a1,1,0,0,1,0-1.41l1.13-1.13a1,1,0,0,1,1.41,0l3.05,3.05,7.54-7.55a1,1,0,0,1,1.41,0l1.13,1.13A1,1,0,0,1,19.71,9.33Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-color:#02536C;
  border-color:#02536C;
}

.item:not(.item--first) > .item__circle:before {
    background: #63666A;
    position: absolute;
    bottom: calc(100% + 0.2rem);
    left: calc((2.4rem - 0.2rem * 2) / 2 - 0.2rem / 2);
    content: "";
    display: block;
    height: 5rem;
    width: .2rem;
    pointer-events:none;
}
.item__text {
  margin-left:1.2rem;
  padding:0.6rem 0rem;
  cursor:pointer;
  white-space: nowrap;
}